@{
    ViewData["Title"] = "Remote Hosts Manager ...";
}
<div class="container my-4">
    <div class="row">
        @foreach (var manager in Model)
        {
            var remoteHostInfos = manager.RemoteHostInfos();
            <h3 class="my-3 text-center dropdown-toggle" id="dropdownHostCommandInfos" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @(manager.RemoteHost.Ip) (@remoteHostInfos.Count)
            </h3>
            <div class="dropdown-menu" aria-labelledby="dropdownHostCommandInfos">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="searchDropdown@(manager.RemoteHost.Ip.Replace(".", string.Empty))" value="" placeholder="Search..." aria-label="Search" onkeyup="onHostInfosSearched(this)" />
                </div>
                <div class="dropdown-divider"></div>
                @foreach (var remoteHostCmd in manager.RemoteHost.Commands)
                {
                    <a class="dropdown-item" data-value="@remoteHostCmd.Name" href="#" onclick="executeCommand('@(manager.RemoteHost.Ip)', '@(manager.RemoteHost.Name)', '@(remoteHostCmd.Name)', '@(remoteHostCmd.CommandTxt)')">@remoteHostCmd.Name</a>
                }
            </div>
            <div class="row">
                @foreach (var info in remoteHostInfos)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-header" id="heading-@(info.Name.Replace(".", "-"))">
                                <h5 class="card-title mb-0">
                                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(info.Name.Replace(".", "-"))" aria-expanded="false" aria-controls="collapse@(info.Name.Replace(".", "-"))">
                                        @info.Name
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse@(info.Name.Replace(".", "-"))" class="collapse" aria-labelledby="heading-@(info.Name.Replace(".", "-"))" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <p class="card-text">
                                        @foreach (var label in info.Labels)
                                        {
                                            @label.Item1 <b>: </b> @label.Item2 <br>
                                        }
                                    </p>
                                    <p class="card-text">
                                        @foreach (var infoCmd in info.Commands)
                                        {
                                            <button class="btn default" onclick="executeCommand('@manager.RemoteHost.Ip', '@info.Name', '@infoCmd.Name', '@infoCmd.CommandTxt')">@infoCmd.Name - @(infoCmd.CommandTxt.Length > 20 ? infoCmd.CommandTxt.Substring(0, 20) + "..." : infoCmd.CommandTxt)</button>
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                } 
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        function executeCommand(hostIp, hostInfoName, commandName, command) {
            fetch('/Hosts/Execute', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ hostIp, hostInfoName, commandName, command })
            })
                .then(response => {
                    if (response.ok) {
                        var rspJson = response.json();
                        return rspJson;
                    } else {
                        console.error("Failed to execute command: " + response.json());
                    }
                })
                .then(rspJson => {
                    showMsgBox(rspJson.msg)
                })
                .catch(error => {
                    showErrorBox(error);
                });
        }

        function onHostInfosSearched(searchDropdown) {
            // Get reference to dropdown items
            var dropdownItems = searchDropdown.parentNode.parentNode.querySelectorAll(".dropdown-item");

            var value = searchDropdown.value.toLowerCase();
            dropdownItems.forEach(function (item) {
                if (item.textContent.toLowerCase().indexOf(value) > -1) {
                    item.style.display = "block";
                } else {
                    item.style.display = "none";
                }
            });
        }
    </script>
}
